<div class="align-text">
    <h3>Welcome to BookList</h3>
</div>

<br>

<%= link_to 'BookList', books_path, style: 'font-size:18px' %>
<%= link_to 'New Book', new_book_path, style: 'font-size:18px' %>

