/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 
 
@import "font-awesome-sprockets"
@import "font-awesome";
*/

body {
  line-height: 1.7;
  font-size: 16px;
  font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", "游ゴシック Medium", YuGothic, YuGothicM, "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
  color: #000;
  background-color: #BDB76B;
}

body a:hover {
    color: #CCCCCC;
}
.navbar-brand {
    margin-left: 40px;
}

.nav-item {
  font-size: 16px;
  margin-right: 20px;
}

/* ログイン前の画面 */
.visual {
    background: url(https://www.pakutaso.com/shared/img/thumb/ELL75_yousyohondana20120620_TP_V.jpg) no-repeat center top;
    height: 500px;
    padding: 200px 100px 50px;
    box-sizing: border-box;
}

.visual p {
    color: #FFF;
    font-size: 20px;
    font-family: serif;
    padding: 200px 20px 50px;
}

.inner {
    margin: 30px auto;
    color: #7f6666;
}

/* ナビバー */
.navbar-nav .nav-item {
    font-size: 18px;
    color: #000;
}

.navbar-nav .nav-item:hover {
    color: #888;
}

/* ログイン・新規作成*/
.login, .signup{
    color: #7f6666;
    text-align: center;
}

/* ログイン後 */
.home {
    background: url(https://www.pakutaso.com/shared/img/thumb/ELL75_yousyohondana20120620_TP_V.jpg) no-repeat center top;
    height: 500px;
    padding: 200px 100px 50px;
    box-sizing: border-box;
}

.home p {
    color: #FFF;
    font-size: 20px;
    font-family: serif;
    padding: 200px 50px 50px;
}

.catch h3{
    color: #7f6666;
    letter-spacing: 0.3em;
    text-align: center;
}

.booklist {
    margin: 30px auto;
}

.newbook {
     margin: 30px auto;
}

/* -booklist一覧ページ */
.booklist {
    color: #7f6666;
}
.new_book {
    color: #7f6666;
}
.book_photo {
    height: 550px;
    width: 1200px;
}

/* -booklist新規作成ページ */
.new {
    text-align: center;
    color: #7f6666
}

.field, .actions {
    text-align: center;
}

