<header class="mb-4">
  <nav class="navbar navbar-expand-sm navbar-default">
    <% if !logged_in? %> <!-- ログインしてたら -->
      <a class="navbar-brand" href="/"></a>
    <% else %> <!-- ログインしてなかったら -->
      <a class="navbar-brand" href="/toppages/home"></a>
    <% end %>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
      <span class="navbar-toggler-icon"></span>
    </button>
    </div><div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
    <ul class="navbar-nav">
      <% if logged_in? %>
          <li class="nav-item dropdown"> 
            <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" ><%= current_user.name %></a>
            <ul class="dropdown-menu dropdown-menu-right">
              <li class="dropdown-divider"></li>
              
              <li class="dropdown-item"><%= link_to 'Logout', logout_path, method: :delete %></li>
            </ul>
          </li>
        <% else %>
          <li class="nav-item"><%= link_to 'Signup', signup_path, class: 'nav-link', style: 'font-size:16px' %></li>
          <li class="nav-item"><%= link_to 'Login', login_path, class: 'nav-link', style: 'font-size:16px' %></li>
        <% end %>
    </ul>
    </div>
  </nav>
</header>

